.list-group-item {
    padding: 1px 1px;
	font-size: 14px;
}

.handsontable th {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}
.handsontable td {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}

.dc-chart {
    float: center;
	margin: 5px;
}